
ul{
  padding-left: 40px;
  padding-top: 14px;
  border-left: 1px dotted #777;

}
.disp {
  display: block;
  flex-direction: row;
  justify-content : flex-start;
  align-items: start;
  /*border-left: 1px dotted #777;*/
  padding-left:auto;
  margin-left: auto;
  position: relative;
  left:-45px;
}

.expand-icon {
  background-image: url("../../assets/download.png");
  height: 10px;
  width: 10px;
  background-size: contain;
}

.reduced-icon {
  background-image: url("../../assets/reduce.jpeg");
  height: 25px;
  width: 25px;
  background-size: contain;
}
