














/*
* Use : @font-face is import fonts
*/
@font-face {
  font-family: MyPopinsFont;
  src : url("~src/assets/fonts/Poppins-Regular.ttf");
}

/* ul, menu, dir {
  padding-inline-start: 20px !important;
  cursor: pointer;
} */


span{
  font-family:MyPopinsFont; /*align-items: ;*/
  font: icon;
  font-size: 15px;

}


.expand-icon {
  background-image: url("../../assets/icon/right-arrow-icon-27.png");
  height: 13px;
  width: 13px;
  background-size: contain;
}

.reduced-icon {
  background-image: url("../../assets/icon/arrow-down-01-512.png");
  height: 13px;
  width: 13px;
  background-size: contain;
}

.expand-list{
  display: inline-block;
  height: 13px;
  width: 13px;
}

